@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Varela Round", "Fredoka", sans-serif;
}
body {
  background: rgb(7, 13, 52);
}
:root {
  --primary-color: #03fc8c;
  --secondary-color: "#3A13FF";
}
#main {
  min-height: 70%;
  width: 100%;
  margin-top: 5px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: -1;
}

#settings-dock {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bar {
  display: inline-block;
  border-radius: 15px;
  margin: 0 1px;
  transition: 0.5s;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 8px;
  margin: 5px;
  border: 2px solid rgba(0, 255, 132, 0.3);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background: var(--primary-color);
    color: black;
  }
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background: var(--primary-color);
  cursor: pointer;
}

.dropdown {
  position: relative;
  min-width: 150px;
}

.dropdown-header {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  width: 100%;
  padding: 5px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);

  display: block;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  border-radius: 5px;
  top: 100%;
  pointer-events: none;
}
.dropdown-body.open {
  pointer-events: all;
  width: 100%;
  opacity: 1;
}

.dropdown-item {
  padding: 10px;
  background-color: transparent;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}
.dropdown-header .icon {
  margin-left: 5px;
}
.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}
